#perfil {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  overflow-y: auto;
  padding: 3rem 2rem;
  padding-bottom: 200px;
  position: absolute;
  float: left;
  left: 0;
  visibility: visible;
  z-index: 10002; }
  #perfil input, #perfil select, #perfil textarea {
    color: #ffffff; }
  #perfil a {
    color: #281bce; }
  #perfil strong, #perfil b {
    color: #ffffff; }
  #perfil h1, #perfil h2, #perfil h3, #perfil h4, #perfil h5, #perfil h6 {
    color: #ffffff; }
  #perfil blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
  #perfil code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
  #perfil hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); 
    }
  
    #perfil > ul.links {
      list-style: none;
      padding: 0; }
      #perfil > ul.links > li {
        padding: 0; }
        #perfil > ul.links > li > a {
          border-top: solid 1px rgba(255, 255, 255, 0.25);
          color: inherit;
          display: block;
          line-height: 3.5rem;
          text-decoration: none; }
          #perfil > ul.links > li > a:hover {
            color: #ffffff; }

#nome, #nome3, #nome2{
    display: block;
}
#nome, #cara{
    display: inline;
}






  
